<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                           http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <servers>
    <!-- 
    Fill information to allow authentication against Nuxeo Connect and
    to be able to download the Studio Project.
    -->
    <!--<server>
      <id>nuxeo-studio</id>
      <username>YOUR_LOGIN</username>
      <password>YOUR_PASSWORD</password>
    </server>-->
  </servers>
  <profiles>
    <profile>
      <id>CHE</id>
      <activation>
        <activeByDefault>false</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>public</id>
          <url>http://maven.nuxeo.org/nexus/content/groups/public</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>public-snapshot</id>
          <url>http://maven.nuxeo.org/nexus/content/groups/public-snapshot</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <updatePolicy>never</updatePolicy>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>CHE</activeProfile>
  </activeProfiles>
</settings>
